Repository kubeflow/katib, pull requests merged in 2022-04, with the labels that each got.

#1842 Upgrade Black to fix linting
  .github/workflows/test-charmed-katib.yaml
  operators/katib-controller/src/charm.py
  operators/katib-db-manager/src/charm.py
  operators/katib-ui/src/charm.py
Labels: size/XS, lgtm, approved, ok-to-test

#1841 Fix the FPGA examples documentation
  examples/v1beta1/fpga/README.md
Labels: size/XS, lgtm, approved

#1831 Reconcile trial assignments by comparing suggestion and trials being executed
  pkg/controller.v1beta1/experiment/experiment_controller.go
  pkg/controller.v1beta1/experiment/experiment_controller_test.go
Labels: lgtm, approved, size/M, ok-to-test

#1848 Don't check if trial's metadata is in spec.parameters
  pkg/controller.v1beta1/consts/const.go
  pkg/webhook/v1beta1/experiment/validator/validator.go
  pkg/webhook/v1beta1/experiment/validator/validator_test.go
Labels: lgtm, approved, size/M, ok-to-test

#1852 Set upper constraint for Optuna
  cmd/suggestion/optuna/v1beta1/requirements.txt
Labels: size/XS, lgtm, approved, ok-to-test
